<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://xmlns.jcp.org/xml/ns/persistence"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd"
	version="2.1">
	<persistence-unit name="MAPSKILLSPersistenceUnit"
		transaction-type="RESOURCE_LOCAL">

		<provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>

		<class>br.gov.sp.fatec.mapskills.utils.LocalDateTimeConverter</class>
		
		<class>br.gov.sp.fatec.mapskills.domain.studentquestioncontext.StudentQuestionContext</class>
		
		<class>br.gov.sp.fatec.mapskills.domain.institution.Institution</class>
		<class>br.gov.sp.fatec.mapskills.domain.institution.Course</class>
		<class>br.gov.sp.fatec.mapskills.domain.institution.Mentor</class>
		
		<class>br.gov.sp.fatec.mapskills.domain.theme.GameTheme</class>
		<class>br.gov.sp.fatec.mapskills.domain.theme.Scene</class>
		<class>br.gov.sp.fatec.mapskills.domain.theme.Question</class>
		<class>br.gov.sp.fatec.mapskills.domain.theme.Alternative</class>
		
		<class>br.gov.sp.fatec.mapskills.domain.skill.Skill</class>

		<class>br.gov.sp.fatec.mapskills.domain.user.Administrator</class>
        <class>br.gov.sp.fatec.mapskills.domain.user.User</class>
        <class>br.gov.sp.fatec.mapskills.domain.user.Login</class>
                
        <class>br.gov.sp.fatec.mapskills.domain.user.student.Student</class>
        
        <class>br.gov.sp.fatec.mapskills.infra.report.ReportDefaultData</class>
        
        <class>br.gov.sp.fatec.mapskills.studentresult.StudentResult</class>
        <class>br.gov.sp.fatec.mapskills.studentresult.StudentResultIndicator</class>
        
		<properties>
			<property name="eclipselink.cache-usage" value="CheckCacheThenDatabase" />
			<property name="eclipselink.orm.throw.exceptions" value="true" />
			<property name="eclipselink.query-results-cache" value="false" />
			<property name="eclipselink.weaving" value="false"/>
			<property name="eclipselink.cache.shared.default" value="false"/>
		</properties>
	</persistence-unit>
</persistence>